body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  padding: 0 2%;
  background-image:url('./Pizza.jpg');
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
		
h1 {
  width: 50%;
  text-align: center;
  font-size: 3rem;
  color: #00A0A0;
  background-color: #C0C0C0A0;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.mainBtns {
  width: 30%;
}

.rightBtn {
  width: 10%;
  display: flex;
  justify-content: flex-end;
}

nav button {
  margin: 5px;
  padding: 10px;
  background-color: #E0E000;
  border: 2px solid red;
  border-radius: 25px;
  color: #C00000;
  font-size: 1.2rem;
  font-weight: bold;
}

nav button:hover {
  background-color: yellow;
  color: red;
}

.toppingsList {
  display: flex;
}

.toppingsList div {
  width: 240px;
}

textarea {
  width: 300px;
  height: 100px;
}

.categories {
  margin: 20px;
  display: flex;
  justify-content: space-around;
}

.categories button {
  width: 100px;
  height: 30px;
  border-radius: 10px;
}

.errorMessages {
  color: red;
}